.banner {
	background-image: url(../images/banner.jpg);
	height: 1000px;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
  	background-position: 50% 50%;
  	// border-top: 1px solid white;
  	// border-bottom: 1px solid white;
}

.menu-banner {
	background-image: url(../images/menu-banner.jpg);
	height: 418px;
	width: 100%;
	background-size: cover;
  	background-position: 50% 50%;
  	border-top: 1px solid black;
  	border-bottom: 1px solid black;
}

//Media Queries
@media screen and (max-width: 48em) {

	.banner {
		background-image: url(../images/banner.jpg);
		height: 500px;
		width: 100%;
	}

}



